
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --color0: #ebe5c5;
    --color1: #83E1AD;
    --color2: #3DDC84;
    --color3: #2FA866;
    --color4: #1A5C37;
    --color5: #063d1e;

    --font-default: Arial, Verdana, Helvetica, sans-serif;
    --font-spotlight: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color0);
    font-family: var(--font-default);
}

header {
    background-color: var(--color4);
}

header > h1 {
    color: white;
    font-family: var(--font-spotlight);
}

header > p {
    color: white;
  
}

nav {
    background-color: var(--color5) ;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.677);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}

main > article > h1 {
    color: var(--color5);
    font-family: var(--font-android);

}

main > article > h2 {
    font-family: var(--font-android);
}

main > article > img {
    width: 100%;
}

main > article > img.pq{
    width: 50%;
    margin: auto;
    display: block;
}

footer{
    background-color: var(--color5);
    color: white
}